<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="output.css">
  <title>Airbnb Home</title>
</head>
<body>
  <h1>Welcome to airbnb</h1>
  <p>Here are our registered homes</p>
  <ul>
    <% if (hostedHomes){hostedHomes.forEach((home)=>{%>
      <li>
        <%= home.houseName %>
      </li>
    <% })}  %>
  </ul>
  <a href="/host/add-home" class="[all:unset]">Add home</a>
</body>
</html>